<?xml version="1.0"?>
<model>
  <name>leo_race_field</name>
  <version>1.0</version>
  <!-- punta al file rinominato -->
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Il Tuo Nome</name>
    <email>tuo@esempio.com</email>
  </author>
  <description>
    Leonardo Race Field per Gazebo Classic
  </description>
</model>
