<?xml version="1.0"?>
<model>
  <name>payload</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Autore</name>
    <email>email@example.com</email>
  </author>
  <description>
    Un semplice payload cubico rosso che può essere trasportato da un drone.
  </description>
</model>
